:root {
  --us-blue100: #d0e3ff;
  --us-blue200: #b1d1ff;
  --us-blue300: #89baff;
  --us-blue400: #62a4ff;
  --us-blue500: #3b8dff;
  --us-blue600: #1476ff;
  --us-blue700: #1162d4;
  --us-blue800: #0d4faa;
  --us-blue900: #0a3b80;
  --us-blue1000: #072755;
  --us-blue1100: #041833;

  --us-red100: #f4cdcd;
  --us-red200: #ecacac;
  --us-red300: #e38383;
  --us-red400: #da5a5a;
  --us-red500: #d03030;
  --us-red600: #c70707;
  --us-red700: #a60606;
  --us-red800: #850505;
  --us-red900: #640404;
  --us-red1000: #420202;
  --us-red1100: #280101;

  --us-orange100: #fce6cc;
  --us-orange200: #fad5aa;
  --us-orange300: #f7c080;
  --us-orange400: #f5ac55;
  --us-orange500: #f3972a;
  --us-orange600: #f08200;
  --us-orange700: #c86c00;
  --us-orange800: #a05700;
  --us-orange900: #784100;
  --us-orange1000: #502b00;
  --us-orange1100: #301a00;

  --us-green100: #dceece;
  --us-green200: #c5e3ad;
  --us-green300: #a7d583;
  --us-green400: #8ac85a;
  --us-green500: #6dba31;
  --us-green600: #50ac08;
  --us-green700: #438f07;
  --us-green800: #357305;
  --us-green900: #285604;
  --us-green1000: #1b3903;
  --us-green1100: #102202;

  --us-gray100: #e6e6e6;
  --us-gray200: #d9d9d9;
  --us-gray300: #bbbbbb;
  --us-gray400: #a6a6a6;
  --us-gray500: #8f8f8f;
  --us-gray600: #787878;
  --us-gray700: #646464;
  --us-gray800: #505050;
  --us-gray900: #3d3d3d;
  --us-gray1000: #292929;
  --us-gray1100: #1a1a1a;

  --us-cyan100: #ccf3ec;
  --us-cyan200: #aaebdf;
  --us-cyan300: #80e1cf;
  --us-cyan400: #55d7c0;
  --us-cyan500: #2bcdb0;
  --us-cyan600: #00c3a0;
  --us-cyan700: #00a285;
  --us-cyan800: #00826b;
  --us-cyan900: #006150;
  --us-cyan1000: #004135;
  --us-cyan1100: #002720;

  --us-yellow100: #f9f0d0;
  --us-yellow200: #f4e5b1;
  --us-yellow300: #efd889;
  --us-yellow400: #eacc62;
  --us-yellow500: #e4bf3b;
  --us-yellow600: #dfb214;
  --us-yellow700: #ba9411;
  --us-yellow800: #a48311;
  --us-yellow900: #6f590a;
  --us-yellow1000: #4a3b07;
  --us-yellow1100: #2d2404;

  --us-purple100: #e5d3f8;
  --us-purple200: #ceaaf2;
  --us-purple300: #b580eb;
  --us-purple400: #9d55e5;
  --us-purple500: #842ade;
  --us-purple600: #6c00d8;
  --us-purple700: #5a00b4;
  --us-purple800: #480090;
  --us-purple900: #36006c;
  --us-purple1000: #240048;
  --us-purple1100: #16002b;
}
